@page
@model HomelibRazor.Pages.ReadBookModel
@{
}
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h1>
        @Model.Book.Title
      </h1>
      <h3 class="text-muted">
        @Model.Book.First_name @Model.Book.Last_name
      </h3>
      <h6>Opis:</h6>
      <p>
        @Model.Book.Description
      </p>
    </div>
    <div class="col-6">
      @if (Model.Book.Cover != null)
      {
        <img src="data:image/jpg; base64,@(Convert.ToBase64String(Model.Book.Cover))" width="750" />
      }
    </div>
  </div>
</div>
